@import "../../responsive.scss";

.searchBar{
    display: flex;
    flex-direction: column;
    .type{
        button{
            padding:  16px 36px;
            border: 1px solid #999;
            border-bottom: none;
            cursor: pointer;
            background-color: white;
            text-transform: capitalize;

            &.active{
                background-color:  black;
                color: white;
            }

            &:first-child{
                border-top-left-radius: 5px;
                right: 0px;
            }
            &:last-child{
                border-top-right-radius: 5px;
                left: 0px;
            }
        }

        
    }

    form{
        border: 1px solid #999;
        display: flex;
        
        @include sm{
            flex-direction: column;
        }
        justify-content: space-between;
        
        gap: 5px;
        // @include sm{
            
        //     &:first-child{
        //         border: 1px solid #999;
        //     }
        // }
        button{
            border: none;
            cursor: pointer;
            flex: 1;
            height: 48px;
            background-color: rgb(236, 221, 135);
            // margin-bottom: 10px;
            // padding: 40px;
            // width: 100px;
            img {
                width: 24px;
                height: 24px;
            }
            @include lg{
                
                    padding: 0px 20px;
                
            }
            @include sm{
                // padding: 1px 2px;
                    
                    padding: 5px 0px;
                    // border: 1px solid #999;
                
            
               }
        }

        input{
            border: none;
            height: 48px;
            // padding: 0px 10px;
            //width: auto;
            width: 200px;
            padding-left: 5px;
            
            @include lg{
                padding: 10px 5px;
                &:nth-child(2),&:nth-child(3){
                    width: 140px;
                }
                
               }
            @include sm{
                width: auto !important;
                border: 1px solid #999;
                
                //padding: 10px;
                // gap: 10px;
                // margin-bottom: 5px;
                
            }
            // @include sm{
            //     &:nth-child(2),&:nth-child(3),&:first-child{
            //         width: 400px;
            //     }
            //    }
       
        }
        @include lg{
            border: 1px solid #999;

        }
        @include sm{
            // height: 120px;
            border: none;
        }
        
       
      
    }

}